<html>  
    <head>  
        <title>Editar Formulario Encuesta</title>  
        <link rel="stylesheet" href="maquetacion.css" type="text/css"/>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>		
    </head>  
    <body>  
        <div id ="contenedor">  
            <div id ="cabecera"></div>  
            <div id ="menu"> </div>  
			<div id ="izquierda"></div>  
			<div id ="centro">  
			
			 
			 
			
			<div><span style="float:right"><input type="button" value="Editar Encuesta" class="BtnGrd" /></span> <h1 style="text-align: center">ENCUESTA 1</h1></div>
			
		    <br> 
			<br>
			<br>
			
			<input type="button" value="Agregar Pregunta" class="BtnGrd" />
			
			<br>
			<br>
			
			<div class="datagrid"><table>
				<thead><tr><th>idPregunta</th><th>Nombre Pregunta</th><th>Tipo Pregunta</th><th>Acciones</th></tr></thead>
				<tfoot><tr><td colspan="4"><div id="paging"><ul><li><a href="#"><span>Anterior</span></a></li><li><a href="#" class="active"><span>1</span></a></li><li><a href="#"><span>2</span></a></li><li><a href="#"><span>3</span></a></li><li><a href="#"><span>4</span></a></li><li><a href="#"><span>5</span></a></li><li><a href="#"><span>Siguiente</span></a></li></ul></div></tr></tfoot>
				<tbody><tr><td>1</td><td>¿...?</td><td>Seleccion Multiple</td><td><a href=""><u>Editar</u></a>&nbsp <a href=""><u>Eliminar</u></a></td></tr>
				<tr class="alt"><td>2</td><td>¿...?</td><td>Cerrada</td><td><a href=""><u>Editar</u></a>&nbsp <a href=""><u>Eliminar</u></a></td></tr>
				<tr><td>3</td><td>¿...?</td><td>Seleccion Multiple</td><td><a href=""><u>Editar</u></a>&nbsp <a href=""><u>Eliminar</u></a></td></tr>
				<tr class="alt"><td>4</td><td>¿...?</td><td>Cerrada</td><td><a href=""><u>Editar</u></a>&nbsp <a href=""><u>Eliminar</u></a></td></tr>
				<tr><td>5</td><td>¿...?</td><td>Cerrada</td><td><a href=""><u>Editar</u></a>&nbsp <a href=""><u>Eliminar</u></a></td></tr>
				</tbody>
			</table></div>
			
		    
			<br>
			
			<div style="text-align: right">
			<input type="button" value="Guardar Cambios" class="BtnGrd" />
			<input type="button" value="Regresar" class="BtnGrd" />
			</div> 
			
			</div> 
				
			
            <div id ="derecha">
			 
			</div>  
            <div id ="pie"></div>  
        </div>  
    </body>  
</html>  