<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>EditarMarcas</title>
	<link rel="stylesheet" type="text/css" href="../css/estilos.css">
</head>
<body>
     	
     <form class="formulario">  
          <h3 class="titulo_form">Editar Marcas</h3><br><br>
     
     	   <h5>Nueva marca</h5>
     	   <label for="nMarca">Nombre de la marca</label>
     	   <input type="text" id="nMarca" placeholder="Nombre de la marca"> 
     	   <input type="submit" value="Crear">
     <br>
</form>

<form class ="centrar"id="cojaFootBtns">
	<button type="button">Regresar</button>
	<button type="button">Menu</button>
</form>

</body>
</html>