<html>  
    <head>  
        <title>Eliminar Encuesta</title>  
        <link rel="stylesheet" href="maquetacion.css" type="text/css"/>
       <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>		
    </head>  
    <body>  
        <div id ="contenedor">  
            <div id ="cabecera"></div>  
            <div id ="menu"> </div>  
			<div id ="izquierda"></div>  
			<div id ="centro">  
			
			 
			 
			
			 <h2 style="text-align: center"> ¿Esta Seguro?</h2>
			
		    <br> 
			
			
			
			<h2 style="text-align: center"> ¿Eliminar encuesta?</h2>
			
				
			<br>
			
			<div style="text-align: center">
			<input type="button" value="Si" class="BtnGrd" /> &nbsp&nbsp&nbsp
			<input type="button" value="No" class="BtnGrd" />
			</div> 
			
			</div> 
				
			
            <div id ="derecha">
			 
			</div>  
            <div id ="pie"></div>  
        </div>  
    </body>  
</html>  