<html>
      <meta charset="utf-8">
     <head>
    <title>listado de encuestas</title>
     
     <link rel="stylesheet" href="css/estilos.css">
     </head>
<body>
    <form>
      <section>
        <section class="wrapper">
           <section>
             <label for="nombre" Ingrese su nombre> Ingrese su nombre </label>
             <input type="text" placeholder="Escribe tu nombre" name="variable_nombre" id="nombre">
                  </br></br>
           <label for="Contrasenia">Contrasenia</label>
                <input type="password" name="" value="" id="contrasenia">
                 </br>
                 <br>
           <input type="email" name="" value="">
           <br>
           <br>
           <input type="checkbox" name="" value="">Masculino
           <input type="checkbox" name="" value="">Femenino
           <input type="radio" name="" value="">Hombre
           <input type="radio" name="" value="">Mujer
            <input type="button" name="" value="Eviar"> <!--#este para hacer acciones con javascript u otro lenguaje-->
            <input type="submit" name="" value="Enviar datos"> <!--#este funciona para enviar datos a una base de datos-->
          <!--esto para listas desplegables-->
          <br><br>
          <select class="" name="">
             <option value="El Salvador">El Salvador</option>
             <option value="Guatemala">Guatemala</option>
             <option value="Honduras">Honduras</option>
          </select>
           </form>
           </section>
        </section>
      </section>


    <header>
      <div><img src="imagen/inscripcion.jpg" alt="informacion de inscripcion" width="200">
      </div>

      <nav>
        <ul>
          <li><a href="#">categoria 0<a/></li>
            <li><a href="#">categoria 1<a/></li>
              <li><a href="#">categoria 2<a/></li>
        </ul>
      </nav>
    </header>
    <section class="wrapper">
      <section class="main">
            <article >
                <h2>Titulo de nuestra pagina </h2>
                <p>
                     En alimentación se denomina embutido a una pieza, generalmente de
                     carne picada y condimentada con hierbas aromáticas y
                     diferentes especias (pimentón, pimienta, ajos, romero, tomillo,
                     clavo de olor, jengibre, nuez moscada, etcétera) que es introducida ("embutida")
                     en piel de tripas de cerdo.
                </p>
            </article>
       </section>
                   <aside>
                            <h3>Sidebar</h3>
                            <p>Este es un titulo secundario de la pagina</p>
                     </aside>
  </section>

  <footer>
<p>Jose Roberto Garcia Echeverria</p>
  </footer>

</body>
</html>
